<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create task</title>
</head>
{% extends 'base.html' %}
{% block content %}

<body>

<main class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 mt-3">


                <form action="/tasks/create/" method="POST" class="card card-body">
                    <h1 class="text-center">Create task</h1>
                    {{error}}
                    {% csrf_token %}
                    {{form.as_p}}
                    <button class="btn btn-primary">
                        Save
                    </button>
                </form>

        </div>
    </div>
</main>



</body>
{% endblock %}
</html>