<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tasks</title>
</head>
{%extends 'base.html' %}
{%block content%}
<body>

<main class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 mt-3">
            <form action="/tasks/" method="post" class="card card-body" >
                <h1 class="text-center">Tasks pending</h1>

                <ul class="list-group">
                    {% for task in tasks %}
                    <li class ="list-group-item">
                        <a class="list-group-item" href="{% url 'task_detail' task.id %}">
                            <header class="d-flex justify-content-between">
                                {% if task.important %}
                                <strong class="fw-bold text-success">{{task.title}} </strong>
                                <p>{{task.user.username}}</p>
                                {% else %}
                                {{task.title}}
                                {% endif %}

                            </header>

                            <p>{{task.description}}</p>

                            <p>{{task.datecompleted|date:"M j Y"}}></p>

                        </a>

                    </li>
                    {%endfor%}
                </ul>
            </form>
        </div>
    </div>
</main>


</body>
{%endblock%}
</html>